
<footer class="footer">
    <div class="content has-text-centered">
      <div class="columns is-variable is-8">
        <div class="column is-3">
          <div class="shadow-box" style="width: 520px; height: 600px;">
            <app-tangram></app-tangram>
          </div>
          
          
        </div>
        <div class="column is-2 is-offset-1">
          <ul>
            <p>© 2024 </p>

            <p>Todos los derechos reservados.</p>
            
          </ul>
        </div>
        <div class="column is-2">
          <p class="has-text-weight-bold">Información/<p>
          <ul>
            
            <li><a href="#">Contacto</a></li>
            <li >
              <a  (click)="goToTerminos()">
                Terminos y Condiciones
            </a>
            </li>
            
          </ul>
        </div>
        <div class="column is-2">
          <p class="has-text-weight-bold">Redes</p>
          <ul>
            <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
        <div class="column is-2">
          <p class="has-text-weight-bold">Repositorio</p>
          <ul>
            
            <li><a href="https://github.com/jennirevetri/mi-proyecto"><i class="fab fa-facebook"></i> Github</a></li>
           
          </ul>
        </div>
        
        
      </div>
    </div>
  </footer>
  