service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if true;  // Permite a cualquier persona leer y escribir
    }
  }
}
