<app-header></app-header>
<section class="section">
  <div class="container is-flex is-align-items-center is-justify-content-center" style="height: 100vh;">
    <div class="box" style="width: 40%;">
      <h1 class="title has-text-centered">{{ isLoginMode ? 'Iniciar Sesión' : 'Registrarse' }}</h1>
      <form (submit)="submit()">
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" [(ngModel)]="email" name="email" placeholder="alex@example.com" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Contraseña</label>
          <div class="control has-icons-right">
            <input class="input" [type]="passwordFieldType" [(ngModel)]="password" name="password" placeholder="******" required>
            <span class="icon is-small is-right" (click)="togglePasswordVisibility()">
              <i class="fas" [class.fa-eye]="passwordFieldType === 'password'" [class.fa-eye-slash]="passwordFieldType === 'text'"></i>
            </span>
            <p *ngIf="!isLoginMode && password.length < 6 && password.length > 0" class="help is-danger">La contraseña debe tener al menos 6 caracteres.</p>
          </div>
        </div>

        <div class="field" *ngIf="!isLoginMode">
          <label class="label">Confirmar Contraseña</label>
          <div class="control has-icons-right">
            <input class="input" [type]="confirmPasswordFieldType" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="******" required>
            <span class="icon is-small is-right" (click)="toggleConfirmPasswordVisibility()">
              <i class="fas" [class.fa-eye]="confirmPasswordFieldType === 'password'" [class.fa-eye-slash]="confirmPasswordFieldType === 'text'"></i>
            </span>
            <p *ngIf="password !== confirmPassword && confirmPassword.length > 0" class="help is-danger">Las contraseñas no coinciden.</p>
          </div>
        </div>

        <div class="control has-text-centered">
          <button class="login-button" type="submit"> {{ isLoginMode ? 'Iniciar Sesión' : 'Registrarse' }} </button>
        </div>

        <p class="help has-text-centered" *ngIf="message">{{ message }}</p>
        <p class="has-text-centered">
          <a class="custom-link" (click)="toggleMode()">{{ isLoginMode ? '¿No estás registrado? Únete y regístrate' : 'Ya estás registrado, inicia sesión' }}</a>
        </p>

        <p class="has-text-centered" *ngIf="isLoginMode">
          <a class="custom-link" (click)="toggleForgotPasswordModal()">Olvidé la contraseña</a>
        </p>
      </form>
    </div>
  </div>
</section>

<!-- Modal de recuperación de contraseña -->
<div class="modal" [class.is-active]="showForgotPasswordModal">
  <div class="modal-background" (click)="toggleForgotPasswordModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Recuperar Contraseña</p>
      <button class="delete" aria-label="close" (click)="toggleForgotPasswordModal()"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" [(ngModel)]="forgotPasswordEmail" placeholder="alex@example.com" required>
        </div>
      </div>
      <p class="help is-danger" *ngIf="message">{{ message }}</p>
    </section>
    <footer class="modal-card-foot is-justify-content-center">
      <button class="button is-success" (click)="sendPasswordResetEmail()">Enviar</button>
      <button class="button ml-2" (click)="toggleForgotPasswordModal()">Cancelar</button>
    </footer>
  </div>
</div>

<app-footer></app-footer>
