<div class="scene"> 
	<div class="trian-small-1">
		<div class="de-1 tr tr-bottom"></div>
		<div class="de-1 tr tr-top"></div>
		<div class="de-1 re tr-left"></div>
		<div class="de-1 re tr-right"></div>
		<div class="de-1 re tr-face-bottom"></div>
	</div>
	<div class="trian-small-2">
		<div class="de-1 tr tr-bottom"></div>
		<div class="de-1 tr tr-top"></div>
		<div class="de-1 re tr-left"></div>
		<div class="de-1 re tr-right"></div>
		<div class="de-1 re tr-face-bottom"></div>
	</div>
	<div class="cube">
		<div class="trian-2">
			<div class="de-1 tr tr-bottom"></div>
			<div class="de-1 tr tr-top"></div>
			<div class="de-1 re tr-left"></div>
			<div class="de-1 re tr-right"></div>
			<div class="de-1 re tr-face-bottom"></div>
		</div>
		<div class="trian-3">
			<div class="de-2 tr tr-bottom"></div>
			<div class="de-2 tr tr-top"></div>
			<div class="de-2 re tr-left"></div>
			<div class="de-2 re tr-right"></div>
			<div class="de-2 re tr-face-bottom"></div>
		</div>
	</div>
	<div class="rombo">
		<div class="trian-4">
			<div class="de-1 tr tr-bottom"></div>
			<div class="de-1 tr tr-top"></div>
			<div class="de-1 re tr-left"></div>
			<div class="de-1 re tr-right"></div>
			<div class="de-1 re tr-face-bottom"></div>
		</div>
		<div class="trian-5">
			<div class="de-2 tr tr-bottom"></div>
			<div class="de-2 tr tr-top"></div>
			<div class="de-2 re tr-left"></div>
			<div class="de-2 re tr-right"></div>
			<div class="de-2 re tr-face-bottom"></div>
		</div>
	</div>
	<div class="trian-medium">
		<div class="trian-6">
			<div class="de-1 tr tr-bottom"></div>
			<div class="de-1 tr tr-top"></div>
			<div class="de-1 re tr-left"></div>
			<div class="de-1 re tr-right"></div>
			<div class="de-1 re tr-face-bottom"></div>
		</div>
		<div class="trian-7">
			<div class="de-1 tr tr-bottom"></div>
			<div class="de-1 tr tr-top"></div>
			<div class="de-1 re tr-left"></div>
			<div class="de-1 re tr-right"></div>
			<div class="de-1 re tr-face-bottom"></div>
		</div>
	</div>
	<div class="trian-big-1">
		<div class="trian-medium-1">
			<div class="trian-8">
				<div class="de-1 tr tr-bottom"></div>
				<div class="de-1 tr tr-top"></div>
				<div class="de-1 re tr-left"></div>
				<div class="de-1 re tr-right"></div>
				<div class="de-1 re tr-face-bottom"></div>
			</div>
			<div class="trian-9">
				<div class="de-1 tr tr-bottom"></div>
				<div class="de-1 tr tr-top"></div>
				<div class="de-1 re tr-left"></div>
				<div class="de-1 re tr-right"></div>
				<div class="de-1 re tr-face-bottom"></div>
			</div>
		</div>
		<div class="trian-medium-2">
			<div class="trian-10">
				<div class="de-1 tr tr-bottom"></div>
				<div class="de-1 tr tr-top"></div>
				<div class="de-1 re tr-left"></div>
				<div class="de-1 re tr-right"></div>
				<div class="de-1 re tr-face-bottom"></div>
			</div>
			<div class="trian-11">
				<div class="de-1 tr tr-bottom"></div>
				<div class="de-1 tr tr-top"></div>
				<div class="de-1 re tr-left"></div>
				<div class="de-1 re tr-right"></div>
				<div class="de-1 re tr-face-bottom"></div>
			</div>
		</div>
	</div>
	<div class="trian-big-2">
		<div class="trian-medium-3">
			<div class="trian-12">
				<div class="de-1 tr tr-bottom"></div>
				<div class="de-1 tr tr-top"></div>
				<div class="de-1 re tr-left"></div>
				<div class="de-1 re tr-right"></div>
				<div class="de-1 re tr-face-bottom"></div>
			</div>
			<div class="trian-13">
				<div class="de-1 tr tr-bottom"></div>
				<div class="de-1 tr tr-top"></div>
				<div class="de-1 re tr-left"></div>
				<div class="de-1 re tr-right"></div>
				<div class="de-1 re tr-face-bottom"></div>
			</div>
		</div>
		<div class="trian-medium-4">
			<div class="trian-14">
				<div class="de-1 tr tr-bottom"></div>
				<div class="de-1 tr tr-top"></div>
				<div class="de-1 re tr-left"></div>
				<div class="de-1 re tr-right"></div>
				<div class="de-1 re tr-face-bottom"></div>
			</div>
			<div class="trian-15">
				<div class="de-1 tr tr-bottom"></div>
				<div class="de-1 tr tr-top"></div>
				<div class="de-1 re tr-left"></div>
				<div class="de-1 re tr-right"></div>
				<div class="de-1 re tr-face-bottom"></div>
			</div>
		</div>
	</div>
</div>
